<!DOCTYPE html>
<html lang="es">

<head>
    <title>Estudiar Musica</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="#" />
    <!--     <script src="./js/script.js"></script> -->
</head>

<body>
    <header class="cabecera">
        <h1> ESTUDIO PARA TUBA/TROMPETA</h1>
    </header>
    <div id="app">
        <div class="contenedor">
            <div id="panel" class="contenedorFlex">
                <select v-model="indiceNotaInferior" name="indiceNotaInferior" id="indiceNotaInferior">
                </select>
                <select v-model="indiceNotaSuperior" name="indiceNotaSuperior" id="indiceNotaSuperior">
                </select>
                <img class="botoncito item" id="comenzar" @click="comenzar()" src="./img/play.png" alt="" v-if="!practicando">
                <img class="botoncito item" id="parar" @click="parar()" src="./img/pause.png" alt="" v-else>
                <div class="slidecontainer item">
                    <label for="myRange"> Seleccione tiempo:</label>
                    <input type="range" v-model="tiempo" min="1" max="10" step="0.25" class="slider" id="myRange"> <span> {{tiempo}} s</span>
                </div>
            </div>

            <div id="flip-container" @click="rota()">
                <div class="ficha" v-bind:class="{rotated: !caraA}" class="card">
                    <div class="front">
                        <img id="nota" :src="'./img/'+ficha.tipo+'.png'" alt="">
                    </div>
                    <div class="back">
                        {{ficha.palabra}}
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedorFlex" v-if="!practicando">
            <!--  <button class="item" @click="rota()">GIRAR FICHA</button> -->
            <button class="item" @click="mostrarFicha()">SIGUIENTE NOTA</button>
            <!--   <a href="./audio.php"> PRUEBAS</a> -->
        </div>
    </div>
    <footer class="footer">Adrian de Haro Ortega. <span class="copyleft"> &copy; </span> Practique trompeta 2020 · Todos los derechos reservados</footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                practicando: false,
                caraA: true,
                id: "",
                indiceNotaInferior: 11,
                indiceNotaSuperior: 25,
                tiempo: 5,
                tiempo2: 5,
                listado: [{
                    indice: 1,
                    palabra: 'DO 0',
                    tipo: 'C1',
                    frecuencia: 32.70
                }, {
                    indice: 2,
                    palabra: 'C#1',
                    tipo: 'Cs1',
                    frecuencia: 34.65
                }, {
                    indice: 3,
                    palabra: 'D1',
                    tipo: 'D1',
                    frecuencia: 36.71
                }, {
                    indice: 4,
                    palabra: 'Eb1',
                    tipo: 'Eb1',
                    frecuencia: 38.89
                }, {
                    indice: 5,
                    palabra: 'E1',
                    tipo: 'E1',
                    frecuencia: 41.20
                }, {
                    indice: 6,
                    palabra: 'F1',
                    tipo: 'F1',
                    frecuencia: 43.65
                }, {
                    indice: 7,
                    palabra: 'F#1',
                    tipo: 'Fs1',
                    frecuencia: 46.25
                }, {
                    indice: 8,
                    palabra: 'G1',
                    tipo: 'G1',
                    frecuencia: 49.00
                }, {
                    indice: 9,
                    palabra: 'G#1',
                    tipo: 'Gs1',
                    frecuencia: 51.91
                }, {
                    indice: 10,
                    palabra: 'LA 1-2',
                    tipo: 'A1',
                    frecuencia: 55.00
                }, {
                    indice: 11,
                    palabra: 'SIb 1',
                    tipo: 'Bb1',
                    frecuencia: 58.27
                }, {
                    indice: 12,
                    palabra: 'SI 2',
                    tipo: 'B1',
                    frecuencia: 61.74
                }, {
                    indice: 13,
                    palabra: 'DO 0',
                    tipo: 'C2',
                    frecuencia: 65.41
                }, {
                    indice: 14,
                    palabra: 'DO#',
                    tipo: 'Cs2',
                    frecuencia: 69.30
                }, {
                    indice: 15,
                    palabra: 'RE',
                    tipo: 'D2',
                    frecuencia: 73.42
                }, {
                    indice: 16,
                    palabra: 'MI b',
                    tipo: 'Eb2',
                    frecuencia: 77.78
                }, {
                    indice: 17,
                    palabra: 'MI  ',
                    tipo: 'E2',
                    frecuencia: 82.41
                }, {
                    indice: 18,
                    palabra: 'FA 1',
                    tipo: 'F2',
                    frecuencia: 87.31
                }, {
                    indice: 19,
                    palabra: 'FA# 2',
                    tipo: 'Fs2',
                    frecuencia: 92.50
                }, {
                    indice: 20,
                    palabra: 'SOL 0',
                    tipo: 'G2',
                    frecuencia: 98.00
                }, {
                    indice: 21,
                    palabra: 'G#2',
                    tipo: 'Gs2',
                    frecuencia: 103.8
                }, {
                    indice: 22,
                    palabra: 'A2',
                    tipo: 'A2',
                    frecuencia: 110.0
                }, {
                    indice: 23,
                    palabra: 'SIb 1',
                    tipo: 'Bb2',
                    frecuencia: 116.5
                }, {
                    indice: 24,
                    palabra: 'SI 2',
                    tipo: 'B2',
                    frecuencia: 123.5
                }, {
                    indice: 25,
                    palabra: 'DO 0',
                    tipo: 'C3',
                    frecuencia: 130.8
                }, {
                    indice: 26,
                    palabra: 'DO#',
                    tipo: 'Cs3',
                    frecuencia: 138.6
                }, {
                    indice: 27,
                    palabra: 'RE',
                    tipo: 'D3',
                    frecuencia: 146.8
                }, {
                    indice: 28,
                    palabra: 'Eb3',
                    tipo: 'Eb3',
                    frecuencia: 155.6
                }, {
                    indice: 29,
                    palabra: 'E3',
                    tipo: 'E3',
                    frecuencia: 164.8
                }, {
                    indice: 30,
                    palabra: 'F3',
                    tipo: 'F3',
                    frecuencia: 174.6
                }, {
                    indice: 31,
                    palabra: 'F#3',
                    tipo: 'Fs3',
                    frecuencia: 185.0
                }, {
                    indice: 32,
                    palabra: 'G3',
                    tipo: 'G3',
                    frecuencia: 196.0
                }, {
                    indice: 33,
                    palabra: 'G#3',
                    tipo: 'Gs3',
                    frecuencia: 207.7
                }, {
                    indice: 34,
                    palabra: 'A3',
                    tipo: 'A3',
                    frecuencia: 220.0
                }, {
                    indice: 35,
                    palabra: 'Bb3',
                    tipo: 'Bb3',
                    frecuencia: 233.1
                }, {
                    indice: 36,
                    palabra: 'B3',
                    tipo: 'B3',
                    frecuencia: 246.9
                }, {
                    indice: 37,
                    palabra: 'C4',
                    tipo: 'C4',
                    frecuencia: 261.6
                }, {
                    indice: 38,
                    palabra: 'C#4',
                    tipo: 'Cs4',
                    frecuencia: 277.2
                }, {
                    indice: 39,
                    palabra: 'D4',
                    tipo: 'D4',
                    frecuencia: 293.7
                }, {
                    indice: 40,
                    palabra: 'Eb4',
                    tipo: 'Eb4',
                    frecuencia: 311.1
                }, {
                    indice: 41,
                    palabra: 'E4',
                    tipo: 'E4',
                    frecuencia: 329.6
                }, {
                    indice: 42,
                    palabra: 'F4',
                    tipo: 'F4',
                    frecuencia: 349.2
                }, {
                    indice: 43,
                    palabra: 'F#4',
                    tipo: 'Fs4',
                    frecuencia: 370.0
                }, {
                    indice: 44,
                    palabra: 'G4',
                    tipo: 'G4',
                    frecuencia: 392.0
                }, {
                    indice: 45,
                    palabra: 'G#4',
                    tipo: 'Gs4',
                    frecuencia: 415.3
                }, {
                    indice: 46,
                    palabra: 'A4',
                    tipo: 'A4',
                    frecuencia: 440.0
                }, {
                    indice: 47,
                    palabra: 'Bb4',
                    tipo: 'Bb4',
                    frecuencia: 466.2
                }, {
                    indice: 48,
                    palabra: 'B4',
                    tipo: 'B4',
                    frecuencia: 493.9
                }, {
                    indice: 49,
                    palabra: 'C5',
                    tipo: 'C5',
                    frecuencia: 523.3
                }, {
                    indice: 50,
                    palabra: 'C#5',
                    tipo: 'Cs5',
                    frecuencia: 554.4
                }, {
                    indice: 51,
                    palabra: 'D5',
                    tipo: 'D5',
                    frecuencia: 587.3
                }, {
                    indice: 52,
                    palabra: 'Eb5',
                    tipo: 'Eb5',
                    frecuencia: 622.3
                }, {
                    indice: 53,
                    palabra: 'E5',
                    tipo: 'E5',
                    frecuencia: 659.3
                }, {
                    indice: 54,
                    palabra: 'F5',
                    tipo: 'F5',
                    frecuencia: 698.5
                }, {
                    indice: 55,
                    palabra: 'F#5',
                    tipo: 'Fs5',
                    frecuencia: 740.0
                }, {
                    indice: 56,
                    palabra: 'G5',
                    tipo: 'G5',
                    frecuencia: 784.0
                }, {
                    indice: 57,
                    palabra: 'G#5',
                    tipo: 'Gs5',
                    frecuencia: 830.6
                }, {
                    indice: 58,
                    palabra: 'A5',
                    tipo: 'A5',
                    frecuencia: 880.0
                }, {
                    indice: 59,
                    palabra: 'Bb5',
                    tipo: 'Bb5',
                    frecuencia: 932.3
                }, {
                    indice: 60,
                    palabra: 'B5',
                    tipo: 'B5',
                    frecuencia: 987.8
                }, {
                    indice: 61,
                    palabra: 'C6',
                    tipo: 'C6',
                    frecuencia: 1047
                }, ],
                ficha: ""
            },
            mounted: function() {
                var sel = document.getElementById('indiceNotaInferior');
                this.listado.forEach(item => {
                    var opt = document.createElement('option');
                    opt.appendChild(document.createTextNode(item.tipo));
                    opt.value = item.indice;
                    sel.appendChild(opt);
                });

                sel = document.getElementById('indiceNotaSuperior');
                this.listado.forEach(item => {
                    var opt = document.createElement('option');
                    opt.appendChild(document.createTextNode(item.tipo));
                    opt.value = item.indice;
                    sel.appendChild(opt);
                });

                this.ficha = this.listado[12];
            },
            computed: {
                tiempoms: function() {
                    return this.tiempo * 1000;
                }
            },
            methods: {
                mostrarFicha: function() {
                    this.ficha = this.listado[this.aleatorio()];
                },
                rota: function() {
                    app.caraA = !app.caraA;
                },
                comenzar: function() {
                    app.practicando = true;
                    app.id = setInterval(function() {
                            app.rotacion()
                        }, app.tiempoms) //app.funcion() ha de llevar los PARENTESIS!!!
                },
                parar: function() {
                    clearInterval(app.id);
                    app.practicando = false;
                    alert("Finaliza el ejercicio");
                },
                aleatorio: function() {
                    return Math.floor(Math.random() * (this.indiceNotaSuperior - this.indiceNotaInferior)) + this.indiceNotaInferior;
                },
                rotacion: function() {
                    id0 = setTimeout(function() {
                        app.mostrarFicha()
                    }, app.tiempoms * 0.03); // Añado un retardo al mostrar la nueva ficha, para que no se vea mientras gira por segunda vez
                    id1 = setTimeout(function() {
                        app.rota()
                    }, app.tiempoms * 0.8); //Al 80% del tiempo definido rota una vez
                    id3 = setTimeout(function() {
                        app.reproducir()
                    }, app.tiempoms * 0.8); //Al 80% del tiempo definido empieza a sonar
                    id2 = setTimeout(function() {
                        app.rota()
                    }, app.tiempoms * 0.99); //Al 99% del tiempo definido rota por segunda vez para volver a su estado original
                },

                reproducir: function() {
                    var flag = false;

                    frequency = app.ficha.frecuencia;
                    console.log("Nota: " + app.ficha.tipo + " " + frequency + "Hz " + flag);

                    var context = new AudioContext();
                    o1 = context.createOscillator();
                    g1 = context.createGain();
                    o1.connect(g1);
                    g1.connect(context.destination);
                    o1.frequency.value = frequency;
                    o1.start(0);
                    tiempoapagado = app.tiempoms * 0.0002;
                    o1.stop(context.currentTime + tiempoapagado);
                }
            }
        })
    </script>


</body>

</html>
<!--/* switch (app.ficha.tipo) { /*NOTAS CON FRECUENCIAS REALES/CORRESPONDIENTES*/ /* case 'C1': frequency = 32.70; break; case 'Cs1': frequency = 34.65; break; case 'D1': frequency = 36.71; break; case 'Eb1': frequency = 38.89; break; case 'E1': frequency
    = 41.20; break; case 'F1': frequency = 43.65; break; case 'Fs1': frequency = 46.25; break; case 'G1': frequency = 49.00; break; case 'Gs1': frequency = 51.91; break; case 'A1': frequency = 55.00; break; case 'Bb1': frequency = 58.27; break; case 'B1':
    frequency = 61.74; break; case 'C2': frequency = 65.41; break; case 'Cs2': frequency = 69.30; break; case 'D2': frequency = 73.42; break; case 'Eb2': frequency = 77.78; break; case 'E2': frequency = 82.41; break; case 'F2': frequency = 87.31; break;
    case 'Fs2': frequency = 92.50; break; case 'G2': frequency = 98.00; break; case 'Gs2': frequency = 103.8; break; case 'A2': frequency = 110.0; break; case 'Bb2': frequency = 116.5; break; case 'B2': frequency = 123.5; break; case 'C3': frequency =
    130.8; break; case 'Cs3': frequency = 138.6; break; case 'D3': frequency = 146.8; break; case 'Eb3': frequency = 155.6; break; case 'E3': frequency = 164.8; break; case 'F3': frequency = 174.6; break; case 'Fs3': frequency = 185.0; break; case 'G3':
    frequency = 196.0; break; case 'Gs3': frequency = 207.7; break; case 'A3': frequency = 220.0; break; case 'Bb3': frequency = 233.1; break; case 'B3': frequency = 246.9; break; case 'C4': frequency = 261.6; break; case 'Cs4': frequency = 277.2; break;
    case 'D4': frequency = 293.7; break; case 'Eb4': frequency = 311.1; break; case 'E4': frequency = 329.6; break; case 'F4': frequency = 349.2; break; case 'Fs4': frequency = 370.0; break; case 'G4': frequency = 392.0; break; case 'Gs4': frequency =
    415.3; break; case 'A4': frequency = 440.0; break; case 'Bb4': frequency = 466.2; break; case 'B4': frequency = 493.9; break; case 'C5': frequency = 523.3; break; case 'Cs5': frequency = 554.4; break; case 'D5': frequency = 587.3; break; case 'Eb5':
    frequency = 622.3; break; case 'E5': frequency = 659.3; break; case 'F5': frequency = 698.5; break; case 'Fs5': frequency = 740.0; break; case 'G5': frequency = 784.0; break; case 'Gs5': frequency = 830.6; break; case 'A5': frequency = 880.0; break;
    case 'Bb5': frequency = 932.3; break; case 'B5': frequency = 987.8; break; /* NOTAS CON FRECUENCIAS DISMINUIDAS 2 SEMITONOS (sI BEMOL) */ /* case 'D3': frequency = 130.8; flag = true; break; case 'Eb3': frequency = 138.6; flag = true; break; case
    'E3': frequency = 146.8; flag = true; break; case 'F3': frequency = 155.6; flag = true; break; case 'Fs3': case 'Gb3': frequency = 164.8; flag = true; break; case 'G3': frequency = 174.6; flag = true; break; case 'Gs3': case 'Ab3': frequency = 185.0;
    flag = true; break; case 'A3': frequency = 196.0; flag = true; break; case 'Bb3': frequency = 207.7; flag = true; break; case 'B3': frequency = 220.0; flag = true; break; case 'C4': frequency = 233.1; flag = true; break; case 'Cs4': case 'Db4': frequency
    = 246.9; flag = true; break; case 'D4': frequency = 261.6; flag = true; break; case 'Ds4': case 'Eb4': frequency = 277.2; flag = true; break; case 'E4': frequency = 293.7; flag = true; break; case 'F4': frequency = 311.1; flag = true; break; case
    'Fs4': case 'Gb4': frequency = 329.6; flag = true; break; case 'G4': frequency = 349.2; flag = true; break; case 'Gs4': case 'Ab4': frequency = 370.0; flag = true; break; case 'A4': frequency = 392.0; flag = true; break; case 'As4': case 'Bb4': frequency
    = 415.3; flag = true; break; case 'B4': frequency = 440.0; flag = true; break; case 'C5': frequency = 466.2; flag = true; break; case 'Cs5': case 'Db5': frequency = 493.9; flag = true; break; case 'D5': frequency = 523.3; flag = true; break; case
    'Ds5': case 'Eb5': frequency = 554.4; flag = true; break; case 'E5': frequency = 587.3; flag = true; break; case 'F5': frequency = 622.3; flag = true; break; case 'Fs5': case 'Gb5': frequency = 659.3; flag = true; break; case 'G5': frequency = 698.5;
    flag = true; break; case 'Gs5': case 'Ab5': frequency = 740.0; flag = true; break; case 'A5': frequency = 784.0; flag = true; break; case 'As5': case 'Bb5': frequency = 830.6; flag = true; break; case 'B5': frequency = 880.0; flag = true; break; case
    'C6': frequency = 932.3; flag = true; break; */ /* default: frequency = 10; } */-->